* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
}

// start header
#header {
    width: 100%;
    height: 48px;
    background-color: #0050B3;
    left: 0px;
    top: 0px;
    position: absolute;

    .search{
        float: left;
        position: absolute;
        width: 336px;
        height: 32px;
        left: 120px;
        top: 8px;

        #search {
            position: absolute;
            width: 336px;
            height: 32px;
            left: 0px;
            top: calc(50% - 32px/2);
    }
    i{
        position: absolute;
        width: 16px;
        height: 16px;
        right: 10px;
        top: calc(50% - 16px/2);
}
} 
    nav{
        display: flex;
        justify-content: space-around;
        a{
            color: #FFFFFF;
        }
        .user {
            position: absolute;
            width: 93px;
            height: 32px;
            left: 903px;
            top: 13px;
            display: flex;
            justify-content: space-around;
            img{
                position: absolute;
                right: 83px;
                bottom: 8px;
            }
            a{
                 color: #FFFFFF;
            }

        }
        .nav-panel {
            position: absolute;
            width: 131px;
            height: 22px;
            left: 1008px;
            top: 13px;
            display: flex;
            justify-content: space-around;
            .dividor1{
                position: absolute;
                width: 1px;
                height: 16px;
                background: #003A8C;
                left: 0px;
                top: 3px;
            }
            .dividor2{
                position: absolute;
                width: 1px;
                height: 16px;
                background: #003A8C;
                left: 63px;
                top: 3px;

            }
            .dividor3{
                
                position: absolute;
                width: 1px;
                height: 16px;
                background: #003A8C;
                left: 130px;
                top: 3px;
            }
        }

        .icon-panel {
            position: absolute;
            width: 165px;
            height: 32px;
            left: 1151px;
            top: 13px;
            .last-ul {
                display: flex;
                justify-content: space-around;
            }
        }

        }
    }
    // end header

    // start main     
    main 
    {        
    // start side bar
        .side-bar{
            a{
                color: #595959;
            }
            i{
                color: #1890FF;
            }
            position: absolute;
            width: 192px;
            height: 498px;
            left: 114px;
            top: 64px;
            li{
                padding-block: 5px;
            }
            div {
                padding-block: 8px;
            }
            .user-nav{
                padding: 5px;
                display: flex;
                flex-direction: row;
                
            }

            .nav-group1 {
                padding: 5px;
                display: flex;
                flex-direction: column;
               .news-feed{
                display: flex;
                flex-direction: row;
                background-color: #f8f1f1;
                border-radius: 4px;
                
               } 
               .message{
                display: flex;
               flex-direction: row;
                }

                .market{
                   display: flex;
                   flex-direction: row; 
                }

               }

            .nav-group2{
                display: flex;
                flex-direction: column;
                padding: 5px;
                ul{
                    li{
                        display: flex;
                        flex-direction: row;
                    }
                }
            }

            .nav-group3 {
                display: flex;
                flex-direction: column;
                padding: 5px;
                ul{
                    li{
                        display: flex;
                        flex-direction: row;
                    }
                }
            }

            }
    // end side bar
        
    // start main page
        #mainpart { 
            position: absolute;
            width: 588px;
            height: 1366px;
            left: 324px;
            top: 64px;
            // start create post
            .create-post{
                position: absolute;
                width: 588px;
                height: 192px;
                background: #FFFFFF;
                border-radius: 4px;
                box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);;
                .header{
                    border: 1px;
                    background: #F5F5F5;
                    width: 588px;
                    height: 40px;
                    p{
                        position: absolute;
                        width: 72px;
                        height: 22px;
                        top: 9px;
                        left: 16px;
                        font-size: 14px;
                        line-height: 22px;
                        display: flex;
                        align-items: center;
                        color: #595959;
                    }
                }
                .input{
                    position: absolute;
                    width: 264px;
                    height: 40px;
                    top: 56px;
                    left: 16px;
                    input{
                        position: absolute;
                        width: 208px;
                        height: 24px;
                        top: 8px;
                        left: 56px;
                        font-size: 14px;
                        line-height: 24px;
                        display: flex;
                        align-items: center;
                        color: #8C8C8C;
                    }
                    
                }
                .footer{
                    position: absolute;
                    width: 556px;
                    height: 56px;
                    top: 120px;
                    left: 16px;
                    .button1{
                        position: absolute;
                        width: 134px;
                        height: 40px;
                        top: 16px;
                        left: 0px;
                        display: flex;
                        background: #F5F5F5;
                        border-radius: 48px;
                        align-items: center;
                        justify-content: center;
                    }
                    .button2{
                        position: absolute;
                        width: 125px;
                        height: 40px;
                        background: #F5F5F5;
                        border-radius: 48px;                        
                        top: 16px;
                        left: 142px;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                    }
                    .button3{
                        position: absolute;
                        width: 148px;
                        height: 40px;
                        background: #F5F5F5;
                        border-radius: 48px;                        
                        top: 16px;
                        left: 275px;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                    }
                    .button4{
                        position: absolute;
                        width: 48px;
                        height: 40px;
                        background: #F5F5F5;
                        border-radius: 48px;                        
                        top: 16px;
                        left: 431px;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                    }
                }
            }
            // end create post

            // start item1
            .item1 {
                position: absolute;
                width: 588px;
                height: 571px;
                top: 208px;
                background: #FFFFFF;
                box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
                border-radius: 4px;
                .header-part{
                    position: absolute;
                    width: 556px;
                    height: 48px;
                    top: 16px;
                    left: 16px;
                    .user-header{
                        position: absolute;
                        width: 181px;
                        height: 48px;
                        display: flex;
                        
                        p{  
                            width: 121px;
                            height: 22px;
                            left: 60px;
                            top: 4px;
                            font-size: 14px;
                            line-height: 22px;
                            display: flex;
                            align-items: center;
                            color: #0050B3;
                        }
                    }
                    .info-header{
                        position: absolute;
                        width: 60px;
                        height: 22px;
                        top: 30px;
                        left: 43px;
                        display: flex;
                        justify-content: space-around;
                        p{
                            font-size: 14px;
                            line-height: 22px;
                            color: #8C8C8C;
                            display: flex;
                            align-items: center;

                        }
                        i{
                            
                            width: 14px;
                            height: 14px;
                            font-size: 11px;
                            margin-top: 4px;
                        }

                    }
                    .point-header {
                        i{
                            
                        
                        position: absolute;
                        width: 24px;
                        height: 24px;
                        left: 536px;
                        top: 10px;
                        }
                    }
                    }
                    .text-img{
                        position: absolute;
                        width: 556px;
                        height: 395px;
                        left: 16px;
                        top: 80px;
                        .p2{
                            position: absolute;
                            top: 65px;
                        }
                        img{
                            position: absolute;
                            top: 104px;
                        }
                    }

                    .like {
                        position: absolute;
                        width: 37px;
                        height: 22px;
                        top: 487px;
                        left: 16px;
                        display: flex;
                        justify-content: space-around;
                        font-size: 14px;

                    }
                    .footer-item1{
                        position: absolute;
                        width: 556px;
                        height: 40px;
                        top: 515px;
                        left: 16px;
                        .group11{
                            position: absolute;
                            width: 460px;
                            height: 24px;
                            top: 16px;
                            left: 48px;
                            ul{
                                display: flex;
                                justify-content: space-between;
                                a,li{
                                    display: flex;
                                    justify-content: space-between;
                                }
                            }
                        }

                    }
                }
            // end item1

            // start item2
                .item2{position: absolute;
                    width: 588px;
                    height: 571px;
                    background: #FFFFFF;
                    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
                    border-radius: 4px;  
                    top: 811px;
                    .header-item2{
                        position: absolute;
                        width: 556px;
                        height: 48px;
                        top: 16px;
                        left: 16px;
                        .figma-logo{
                            position: absolute;
                            width: 99px;
                            height: 48px;
                            p{
                                position: absolute;
                                top: 4px;
                                left: 60px;
                                font-size: 14px;
                                line-height: 22px;
                                display: flex;
                                align-items: center;
                                color: #0050B3;
                            }
                        }
                        .hours6{
                            position: absolute;
                            left: 60px;
                            top: 26px;
                            width: 60px;
                            height: 22px;
                            display: flex;
                            justify-content: space-between;
                            font-size: 14px;
                            line-height: 22px;
                            align-items: center;
                            color: #8C8C8C;
                        }
                        .icon-3point{
                            position: absolute;
                            width: 24px;
                            height: 24px;
                            left: 532px;
                        }
                    } 
                    .text-item2{
                        position: absolute;
                        width: 556px;
                        height: 66px;
                        top: 80px;
                        left: 16px;
                        font-size: 14px;
                        line-height: 22px;
                        color: #595959;
                    }                 
                }
            // end item2

            }
    // end main page

    // start rightbar
        #rightbar{
            position: absolute;
            width: 384px;
            height: 732px;
            left: 936px;
            top: 64px;
            .stories{position: absolute;
                width: 384px;
                height: 348px;
                background: #FFFFFF;
                box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
                border-radius: 4px;
                .header-rightbar{
                    position: absolute;
                    width: 344px;
                    height: 22px;
                    display: flex;
                    left: 24px;
                    top: 16px;
                    
                    .set{
                        position: absolute;
                        left: 295px;
                    }
                    .archive a{
                        display: flex;
                        left: 212px;
                        position: absolute;
                    }
                }
                .add-story{
                    position: absolute;
                    width: 312px;
                    height: 48px;
                    left: 24px;
                    top: 54px;
                    display: flex;
                    a{
                        display: flex;
                        align-items: center;
                        left: 60px;
                        position: absolute;
                        font-size: 14px;
                        line-height: 22px;
                        color: #0050B3;
                        width: 106px;
                        height: 22px;
                    }
                    input{
                        display: flex;
                        align-items: center;
                        left: 60px;
                        position: absolute;
                        font-size: 13px;
                        line-height: 22px;
                        color: #8C8C8C;
                        top: 26px;
                        width: 252px;
                        height: 22px;

                    }
                }
                .concuria{
                    position: absolute;
                    width: 312px;
                    height: 48px;
                    left: 24px;
                    top: 118px;
                    display: flex;
                    a{
                        display: flex;
                        align-items: center;
                        left: 60px;
                        position: absolute;
                        font-size: 14px;
                        line-height: 22px;
                        color: #0050B3;
                        width: 57px;
                        height: 22px;
                        
                    }
                    p{
                        display: flex;
                        align-items: center;
                        left: 60px;
                        position: absolute;
                        font-size: 14px;
                        line-height: 22px;
                        color: #8C8C8C;
                        top: 26px;
                        width: 252px;
                        height: 22px;

                    }                    
                }

                .figma-story{
                    
                    position: absolute;
                    width: 312px;
                    height: 48px;
                    left: 24px;
                    top: 182px;
                    display: flex;
                    a{
                        display: flex;
                        align-items: center;
                        left: 60px;
                        position: absolute;
                        font-size: 14px;
                        line-height: 22px;
                        color: #0050B3;
                        width: 39px;
                        height: 22px;
                    }
                    p{
                        display: flex;
                        align-items: center;
                        left: 60px;
                        position: absolute;
                        font-size: 14px;
                        line-height: 22px;
                        color: #8C8C8C;
                        top: 26px;
                        width: 252px;
                        height: 22px;                        
                    }
                }
                .ant{
                    position: absolute;
                    width: 312px;
                    height: 48px;
                    left: 24px;
                    top: 246px;
                    display: flex;
                    a{
                        display: flex;
                        align-items: center;
                        left: 60px;
                        position: absolute;
                        font-size: 14px;
                        line-height: 22px;
                        color: #0050B3;                        
                        width: 68px;
                        height: 22px;

                    }
                    p{
                        
                        display: flex;
                        align-items: center;
                        left: 60px;
                        position: absolute;
                        font-size: 14px;
                        line-height: 22px;
                        color: #8C8C8C;
                        top: 26px;
                        width: 252px;
                        height: 22px;
                    }
                }
                
            } 
            
            .bday{
                position: absolute;
                width: 384px;
                height: 56px;
                top: 380px;
                background: #FFFFFF;
                box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
                border-radius: 4px;
                .bday-info{
                    display: flex;
                    position: absolute;
                    width: 200px;
                    height: 24px;
                    top: 16px;
                    left: 16px;
                    span{
                        color: #0050B3;
                    }
                    i{
                        color: #0050B3;
                    }
                }
            }
            .fanpage{
                position: absolute;
                width: 384px;
                height: 296px;
                top: 500px;
                background: #FFFFFF;
                box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
                border-radius: 4px;
                .header-fan{
                    position: absolute;
                    width: 384px;
                    height: 32px;
                    top: 8px;
                    display: flex;
                    justify-content: space-between;
                    padding-inline: 25px;
                    color: #595959;
                    align-items: center;
                    font-size: 14px;
                    line-height: 22px;
                }
                .fanpage-stat{
                    position: absolute;
                    width: 352px;
                    height: 94px;
                    top: 56px;
                    left: 16px;
                    a{
                        position: absolute;
                        width: 57px;
                        height: 22px;
                        left: 60px;
                        font-size: 14px;
                        line-height: 22px;
                        color: #0050B3;
                    }
                    .mes{
                        position: absolute;
                        left: 60px;
                        top: 26px;
                        width: 196px;
                        height: 22px;
                        display: flex;
                        align-items: center;
                    }
                    .not{
                        width: 196px;
                        height: 22px;
                        display: flex;
                        align-items: center;
                        position: absolute;
                        left: 60px;
                        top: 49px;

                    }
                }
                .radio-button{
                    position: absolute;
                    width: 352px;
                    height: 40px;
                    top: 166px;
                    left: 16px;
                    display: flex;
                    a{
                        position: absolute;
                        height: 24px;
                        left: 16px;
                        right: 16.36px;
                        top: calc(50% - 24px/2);
                        font-size: 16px;
                        line-height: 24px;
                        display: flex;
                        align-items: center;
                        text-align: center;
                        justify-content: center;

                    }
                    .like-button{
                        position: absolute;
                        left: 0%;
                        right: 66.38%;
                        top: 0%;
                        bottom: 0%;
                        box-sizing: border-box;
                        background: #FFFFFF;
                        border: 1px solid #1890FF;
                        a{
                            color: #1890FF;
                        }
                    }
                    .view-button{                        
                        position: absolute;
                        left: 33.4%;
                        right: 33.19%;
                        top: 0%;
                        bottom: 0%;
                        box-sizing: border-box;
                        background: #FFFFFF;
                        border: 1px solid #D9D9D9;
                        a{color: #595959;

                        }
                    }
                    .post-button{                        
                        position: absolute;
                        right: 0%;
                        left: 66.38%;
                        top: 0%;
                        bottom: 0%;
                        box-sizing: border-box;
                        background: #FFFFFF;
                        border: 1px solid #D9D9D9;
                        a{
                            color: #595959;
                        }

                    }
                }
                .like262{
                    position: absolute;
                    width: 95px;
                    height: 58px;
                    top: 222px;
                    left: 144px;
                    .top-likes{
                        position: absolute;
                        width: 42px;
                        height: 32px;
                        left: 27px;
                        font-size: 24px;
                        line-height: 32px;
                        display: flex;
                        align-items: center;
                        text-align: center;
                        color: #262626;
                    }
                    .bottom-likes{
                        position: absolute;
                        width: 95px;
                        height: 22px;
                        top: 36px;
                        font-size: 14px;
                        line-height: 22px;
                        display: flex;
                        align-items: center;
                        text-align: center;
                        color: #8C8C8C;
                    }
                }
            }
        }
    // end rightbar
        }     
    // end main
